<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!---->
    <!--&lt;!&ndash;File a logs mappában...&ndash;&gt;-->
    <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
        <!--<file>logs/app_logs.log</file>-->
        <!--<append>true</append>-->
        <!--<encoder>-->
            <!--<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.web" level="DEBUG">
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="FILE" />-->
    </logger>

    <!--ROOT szintű log -->
    <!--<root level="debug">-->
        <!--<appender-ref ref="STDOUT"/>-->
        <!--&lt;!&ndash;<appender-ref ref="FILE"/>&ndash;&gt;-->
    <!--</root>-->
</configuration>
